.footer-logo {
    max-height: 40px;
    max-width: 40px;
}
.pad{
    padding:30px;
}
.footer-list{
    list-style: none;
    text-align: right;
}
ul>li>a{
    color:#222;
}
ul>li>a:hover{
    color:#ff6600;
}