<footer class="bg-lightgrey py-4 px-5">
  <div class="row">
    <div class="col-sm-6 d-inline-block d-flex">
      <img src="{{ 'assets/img/Logo-mmb.png' }}" alt="" class="footer-logo my-auto">
      <p class="my-auto ml-2">Make My Backpack © {{ today | date:'yyyy' }}</p>
    </div>
    <div class="col-sm-6 my-auto mx-aut">
      <ul class="footer-list">
        <li>
          <i class="fa fa-facebook-f text-orange ml-2"></i>
          <a href="" class="ml-2">@MMB_Team</a>
        </li>
        <li>
          <i class="fa fa-instagram text-orange ml-4"></i>
          <a href="" class="ml-2">@MMB_Dream</a>
        </li>
        <li>
          <i class="fa fa-envelope text-orange ml-4"></i>
          <a [routerLink]="['/contact']" class="ml-2">Contactez-nous !</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
