<footer class="bg-lightgrey">
    <div class="pad">
        <div class="col-sm-6">
            <img src="{{ 'assets/img/Logo-mmb.png' }}" alt="" class="footer-logo">
            <p class="my-auto ml-2">Make My Backpack © {{ today | date:'yyyy' }}</p>
        </div>
        <div class="col-sm-6 text-right">
            <i class="fa fa-facebook-f text-orange ml-2"></i>
            <a href="" class="ml-2">@MMB_Team</a>
            <i class="fa fa-instagram text-orange ml-4"></i>
            <a href="" class="ml-2">@MMB_Dream</a>
            <i class="fa fa-envelope text-orange ml-4"></i>
            <a href="" class="ml-2">Contactez-nous !</a>
        </div>
    </div>
</footer>