<br><br>
<div class="container mt-5">
    <h1 class="text-center mt-5 text-raisin">
        MES VOYAGES
    </h1><br><br>
        <div class="card text-center">
            <div class="card-header bg-rb wi bor">
                NOM VOYAGE 
                <span class="bo">/</span>     
                PAYS
            </div>
            <div class="card-body bg-rb">
                <div class="row">
                    <div class="col bo">
                        Date de départ <br>
                        <span class="wi">JJ-MM-AAAA</span>
                    </div>
                    <div class="col bo">
                        Date d'arrivée <br>
                        <span class="wi">JJ-MM-AAAA</span>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col wi">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus deleniti doloremque cum delectus. Non distinctio laborum inventore totam? Repellendus maiores minima delectus quasi autem mollitia molestiae, modi culpa soluta vel?</div>
                </div>
            </div>
            <div class="card-footer bg-rb wi bor">
                <div class="row">
                    <div class="col">
                        Date de création :
                    </div>
                    <div class="col">
                        Dernière modification :
                    </div>
                </div>
            </div>
        </div>
        <a class="nav-link" data-toggle="tooltip" data-placement="top" title="Créer un voyage" [routerLink]="['../../tripform', user.id]"><i class="fa fa-plus-circle text-orange"></i></a>
        <a class="nav-link text-right" data-toggle="tooltip" data-placement="top" title="Retour au profil" routerLink='../../dashboard'><i class="fa fa-angle-up text-orange"></i></a>
</div>
  
  