header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header .bgImg {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    overflow: hidden;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.4;
    z-index: 1;
  }
  
  header h1{
      font-size:5rem;
      font-weight: 200;
      text-transform: capitalize;
  }
  .txt-normal{
      font-size: 25px;
  }
.indexDeux{
  position: relative;
  z-index:2;
  text-shadow: 1px 1px 2px black; 
  padding:20px;
}
.ftnSize{
  font-size:30px!important;
}
.btm{
  position: absolute;
  top:90%;
  left:50%;
}
.fa-chevron-down{
  cursor:pointer;
}
.avatar{
  height:60px;
  width:60px;
}
.avft{
  font-size:55px;
}
.scroll{
  height:100px;
}
.my-pagination /deep/ .ngx-pagination .current {
  background: #ff6600;
}