<header>
    <div class="overlay">
      <img *ngIf="image; else noImg" src="{{image.urls.full}}" class="img-fluid bgImg">
      <ng-template #noImg>
          <img src="assets/img/backpack.jpg" alt="" class="img-fluid bgImg">
      </ng-template>
    </div>
    <div class="container h-100">
      <div class="d-flex text-center h-100">
        <div class="my-auto mx-auto w-100 text-light display-4">
          <div class="d-inline">
              <h1 class="my-auto mx-auto">{{country.name}}<img height="30px" src="{{resultat.flag}}" class="ml-2 my-auto"></h1>
          </div>
          <div class="d-inline txt-normal">
              <p>
                Capitale : {{resultat.capital}} 
                <B class="text-orange">/</B> 
                Population : {{resultat.population | shortNumber}} habitants
                <B class="text-orange">/</B> 
                Langage(s)
                <span *ngFor="let language of resultat.languages">
                  - {{language.name}} 
                </span>
                <B class="text-orange">/</B> 
                Monnaie(s) :
                <span *ngFor="let money of resultat.currencies">
                  - {{money.name}} {{money.symbol}}
                </span>
                <B class="text-orange">/</B> 
                Indicatif téléphonique : 
                +{{resultat.callingCodes}}
              </p>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container">

  </div>
