<br><br>
<div class="container mt-5">
    <h1 class="text-center mt-5 text-raisin">
        MES POSTS
    </h1><br><br>
        <div class="card text-center">
            <div class="card-header bg-rb wi bor">
                <div class="col wi">
                    PAYS DU COMMENTAIRE
                </div>
    
            </div>
            <div class="card-body bg-rb text-center">
                <div class="row">
                    <div class="col wi">
                        COMMENTAIRE
                    </div>
                </div>
            </div>
            <div class="card-footer bg-rb wi bor">
                <div class="row">
                    <div class="col">
                        Date de création : JJ/MM/AAAA
                    </div>
                    <div class="col">
                        Dernière modification : JJ/MM/AAAA
                    </div>
                </div>
            </div>
        </div>
        <a class="nav-link text-right" data-toggle="tooltip" data-placement="top" title="Retour au profil" routerLink='../../dashboard'><i class="fa fa-angle-up text-orange"></i></a>
</div>
  
  