
.login {

    background-color: #FF6600 !important;
    border: none;
    
}

a {
    color: #FF6600 !important;
    text-decoration: none;
}

.form-control:focus {
    border-color: rgb(255, 102, 0);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(255, 102, 0);
  }

  .alert {

    color: #FF6600
  }