<nav class="navbar navbar-expand-lg navbar-dark bg-rb fixed-top">
  <a class="navbar-brand" href="#">
    <img class="p-2" src="{{ 'assets/img/logo_typo.png' }}" width="auto" height="43px" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    
    <!-- si l'utilisateur est connecté, on affiche mon profil/ connexion
        sinon on affiche inscription/ connexion-->
        <div class="navbar-nav ml-auto" *ngIf="isLoggedIn$ | async; else loggedOut">

            <div class="dropdown dropleft">
                <a class="my-auto" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img *ngIf="user.avatar" src="{{user.avatar}}" class="avatar my-auto  rounded-circle">
                  <i *ngIf="!user.avatar" class="fa fa-user-circle text-light avft my-auto"></i>
                </a>
              
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="nav-link text-dark" routerLink='dashboard'>Mon profil</a>
                    <a class="nav-link text-dark" (click)= logOut()>Déconnexion</a>
                </div>
              </div>
            </div>

      <ng-template #loggedOut>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink='register'>INSCRIPTION</a>
          </li>
          <span class="nav-link bo">/</span>
          <li class="nav-item active">
            <a class="nav-link" routerLink='login'>CONNEXION</a>
          </li>
        </ul>
      </ng-template>
  </div>
</nav>