<div class="container">
  <div class="row d-flex justify-content-center mt-5">
    <div class="col-md-6 bg-lightgrey mt-5">
      <h1 class="text-center mt-5 text-raisin">AJOUTER UN BACKPACK</h1>
      <form class="mt-5" [formGroup]="backpackForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="" class="text-raisin">Nom du backpack</label>
          <input type="text" class="form-control" id="" placeholder="" value="" placeholder="Nom de votre backpack" formControlName="title">
        </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Sélectionnez votre voyage</label>
            <select class="form-control" (change)="selectChangeHandler($event)">
              <option disabled>Liste de vos voyages</option>
              <option *ngFor="let title of trip | keyvalue" value="{{title.value.id}}">
                <!-- affichage du pays en français -->
                {{title.value.name}}
              </option>
            </select>
          </div>
        
       <!--   <h6>Ajouter vos items</h6>
          <div formArrayName="items">
            <div *ngFor="let item of itemsList.controls; let itemIndex=index" [formGroupName]="itemIndex">
          <input class="form-control" formControlName="item" />
          <button class="register btn mt-1" (click)="deleteItem(itemIndex)">Supprimer l'item</button><br>
        <button class="register btn mt-1" (click)="addItem()">Ajouter un item</button>
         </div>
          </div>-->
        <div class="text-center">
          <button type="submit" class="register btn mt-5">Créer mon backpack</button>
        </div>
        <p *ngIf="response">{{response}}</p>
        <div class="error mt-2">{{error}}</div>
      </form>
    </div>
  </div>
  <a class="nav-link text-right" data-toggle="tooltip" data-placement="top" title="Retour au profil"
  [routerLink]="['../../backpackpage',id]"><i class="fa fa-angle-up text-orange"></i></a>
</div>
