<div class="container">
  <div class="row d-flex justify-content-center mt-5">
    <div class="col-md-6">
      <h1 class="text-center mt-5 text-raisin">MODIFIER PROFIL</h1>
      <form class="mt-5" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="firstName" class="text-raisin">Prénom</label>
          <input type="text" class="form-control" id="firstName" placeholder="John" value="{{user.user.firstName}}"
            formControlName="firstName">
          <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger mt-2">
            <div *ngIf="firstName.errors.required">
              Ce champ est requis
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="lastName" class="text-raisin">Nom</label>
          <input type="text" class="form-control" id="lastName" placeholder="Doe" value="{{user.user.lastName}}"
            formControlName="lastName">
          <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger mt-2">
            <div *ngIf="lastName.errors.required">
              Ce champ est requis
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="dateOfBirth" class="text-raisin">Date de naissance</label>
          <input type="date" class="form-control" id="dateOfBirth" placeholder="Confirmez un mot de passe"
            value="{{user.user.dateOfBirth | date: 'yyyy-MM-dd'}}" formControlName="dateOfBirth">
          <div *ngIf="dateOfBirth.invalid && (dateOfBirth.dirty || dateOfBirth.touched)"
            class="alert alert-danger mt-2">
            <div *ngIf="dateOfBirth.errors.required">
              Ce champ est requis
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="text-raisin">Email</label>
          <input type="email" class="form-control" id="email" placeholder="backpack@exemple.com" value="{{user.user.email}}"
            formControlName="email">
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger mt-2">
            <div *ngIf="email.errors.required">
              Ce champ est requis
            </div>
          </div>
        </div>
        <!--<div class="input-group mb-3">
          <div class="custom-file">
            <input type="file" class="custom-file-input toto" id="inputGroupFile01"
              aria-describedby="inputGroupFileAddon01" (change)="onFileSelect($event)">
            <label class="custom-file-label" for="inputGroupFile01">Choisir une image</label>
          </div>
        </div>-->
        <div class="custom-file">
          <label for="inputGroupFile01">Choisir une image</label>
          <input type="file" class="form-control-file" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" (change)="onFileSelect($event)">
        </div>
        <button type="submit" class="register btn mt-5" [disabled]="!profileForm.valid">Confirmer</button>
        <div class="error mt-2">{{error}}</div>
      </form>
    </div>
  </div>
  <a class="nav-link text-right" data-toggle="tooltip" data-placement="top" title="Retour au profil" routerLink='../../dashboard'><i class="fa fa-angle-up text-orange"></i></a>
</div>

