<div class="container">
  <div class="row d-flex justify-content-center mt-5">
    <div class="col-md-6 bg-lightgrey mt-5">
      <h1 class="text-center mt-5">MON PROFIL</h1>

      <!--              debut formulaire               -->
      <form class="mt-5" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="firstName" class="text-raisin">Prénom</label>
              <input type="text" class="form-control" id="firstName" placeholder="John" value="{{user.firstName}}"
                formControlName="firstName">
              <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger mt-2">
                <div *ngIf="firstName.errors.required">
                  Ce champ est requis
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="lastName">Nom</label>
              <input type="text" class="form-control" id="lastName" placeholder="Doe"
                value="{{user.lastName}}" formControlName="lastName">
              <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger mt-2">
                <div *ngIf="lastName.errors.required">
                  Ce champ est requis
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="dateOfBirth">Date de naissance</label>
              <input type="date" class="form-control" id="dateOfBirth" placeholder="Confirmez un mot de passe"
                value="{{user.dateOfBirth | date: 'yyyy-MM-dd'}}" formControlName="dateOfBirth">
              <div *ngIf="dateOfBirth.invalid && (dateOfBirth.dirty || dateOfBirth.touched)"
                class="alert alert-danger mt-2">
                <div *ngIf="dateOfBirth.errors.required">
                  Ce champ est requis
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" placeholder="backpack@exemple.com"
                value="{{user.email}}" formControlName="email">
              <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger mt-2">
                <div *ngIf="email.errors.required">
                  Ce champ est requis
                </div>
              </div>
            </div><br>
            <div class="form-group">
              <label for="exampleFormControlFile1">Choisir une image</label>
              <input type="file" class="form-control-file" id="exampleFormControlFile1"
              aria-describedby="inputGroupFileAddon01" (change)="onFileSelect($event)">
            </div>
            <button type="submit" class="register btn mt-5" [disabled]="!profileForm.valid">Confirmer</button>
            <div class="error mt-2">{{error}}</div>
          </form>
          <!-- alerte maj profil-->
          <p class="alert mt-2" *ngIf="user">{{user.message}}</p>
          <!-- fin alerte maj profil -->
        </div>
    </div>
    <a class="nav-link text-right" routerLink='../../dashboard'><i class="fa fa-angle-up text-orange"></i></a>
  </div>
 

