<br><br>
<div class="container mt-5">
    <h1 class="text-center mt-5 text-raisin">
        MES BACKPACKS
    </h1><br><br>
        <div class="card text-center">
            <div class="card-header bg-rb wi bor">
                NOM BACKPACK 
                <span class="bo">/</span> 
                PAYS
            </div>
            <div class="card-body bg-rb">
                <div class="row">
                    <div class="col bo">
                        VÊTEMENTS
                    </div>
                    <div class="col bo">
                        PAPIERS
                    </div>
                    <div class="col bo">
                        ACCESSOIRS
                    </div>
                </div>
            </div>
            <div class="card-footer bg-rb wi bor">
                <div class="row">
                    <div class="col">
                        Date de création :
                    </div>
                    <div class="col">
                        Dernière modification :
                    </div>
                </div>
            </div>
        </div>
        <a class="nav-link" data-toggle="tooltip" data-placement="top" title="Créer un backpack" [routerLink]="['../../backpackform', user.id]"><i class="fa fa-plus-circle text-orange"></i></a>
        <a class="nav-link text-right" data-toggle="tooltip" data-placement="top" title="Retour au profil" routerLink='../../dashboard'><i class="fa fa-angle-up text-orange"></i></a>
</div>
  
  