<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<br><br><br><br><br><br>
<div class="container">
    <div class="row profile">
		<div class="col-md-12">
			<div class="profile-sidebar">
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
				    <img src="http://www.joblo.com/newsimages1/logan-x-24-hugh-jackman-villain-thumb.jpg" class="img-circle" width="100px">
					<div class="text-orange tail-po bol">
						PSEUDO
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<!--<div class="profile-userbuttons">-->
				<!--	<button type="button" class="btn btn-success btn-sm">Follow</button>-->
				<!--	<button type="button" class="btn btn-danger btn-sm">Message</button>-->
				<!--</div>-->
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<br>
					<ul class="nav row">
						<div class="col-1"></div>
						<div class="col-2">
							<li>
								<i class="fa fa-user text-orange"></i>
								<a href="#" class="text-raisin tail-po">
									PROFIL 
								</a>
							</li>
						</div>
						<div class="col-2">
							<li>
								<i class="fa fa-envelope text-orange"></i>
								<a href="#" class="text-raisin tail-po">
									POSTS  
								</a>
							</li>
						</div>
						<div class="col-2">
							<li>
								<i class="fa fa-suitcase text-orange"></i>
								<a href="#" class="text-raisin tail-po">
									BACKPACK 
								</a>
							</li>
						</div>
						<div class="col-2">
							<li>
								<i class="fa fa-plane text-orange"></i>
								<a href="#" class="text-raisin tail-po">
									VOYAGES
								</a>
							</li>
						</div>
						<div class="col-2">
							<li>
								<i class="fa fa-heart text-orange"></i>    
								<a href="#" class="text-raisin tail-po">
									FAVORIS 
								</a>
							</li>
						</div>
						<div class="col-1"></div>
					</ul>
				<!-- END MENU -->
		</div>
	</div>
	<a class="nav-link" routerLink='../profileform'>modifier PROFIL</a>
</div>

<br>
<br><br><br>