<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<br><br><br><br><br><br>
<div class="container">
  <div class="row profile">
    <div class="col-md-12">
      <div>
        <div class="profile-usertitle">
          <img src="{{user.avatar}}" class="img-circle" width="100px">
          <div class="text-orange tail-po bol">
            {{user.username}}
          </div>
        </div>
      </div>
      <ul class="nav justify-content-center mt-3">
        <li class="nav-item p-2">
          <i class="fa fa-user text-orange"></i>
          <a href="#" class="text-raisin tail-po" [routerLink]="['../profileform', user.id]">
            MODIFIER
          </a>
        </li>
        <li class="nav-item p-2">
          <img class="img-bb" src="{{ 'assets/img/backpack.png' }}">
          <a href="#" class="text-raisin tail-po" [routerLink]="['../backpackpage', user.id]">
            BACKPACKS
          </a>
        </li>
        <li class="nav-item p-2">
          <i class="fa fa-plane text-orange"></i>
          <a href="#" class="text-raisin tail-po" [routerLink]="['../trippage', user.id]">
            VOYAGES
          </a>
        </li>

      </ul>
      <!-- END MENU -->
      <div class="row d-flex justify-content-center mt-3">
        <div class="col-6">
          <table class="table table-bordered bor-tab bg-rb">
            <tbody>
              <tr>
                <td class="wi">NOM</td>
                <td class="bo">{{user.lastName | titlecase}}</td>
              </tr>
              <tr>
                <td class="wi">PRENOM</td>
                <td class="bo">{{user.firstName | titlecase}}</td>
              </tr>
              <tr>
                <td class="wi">DATE DE NAISSANCE</td>
                <td class="bo">{{user.dateOfBirth | date:'dd/MM/yyyy':'GMT+2'}}</td>
              </tr>
              <tr>
                <td class="wi">EMAIL</td>
                <td class="bo">{{user.email}}</td>
              </tr>
            </tbody>
          </table>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
