/* Background Perso */

.bg-rb {
    background-color: #222222;
  }


/* Couleur perso*/

.bo {
    color: #ff6600 !important;
}

.rb {
  color: #222222;
}

.wi {
  color: #ffffff;
}


.bg-lightgrey{
    background-color: #F9F9F9;
}
.text-raisin{
    color:#222 !important;
}
.bg-orange{
    background-color: #ff6600;
}
.text-orange{
  color: #ff6600;
}

