/* Background Perso */

.bg-rb {
    background-color: #222222;
  }


/* Couleur perso*/

.bo {
    color: #ff6600 !important;
}

.rb {
  color: #222222;
}

/* Placement vidéo en background et personalisation de la page d'accueil */

#myVideo {
  position: sticky;
  right: auto;
  bottom: auto;
  min-width: 100%;
  min-height: 100%;
}

.content {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 300px;
}

.lab-country {
    color: #ff6600;
    font-size: bold;
    font-size: 30px
}

.sel-country {
  color: #222222;
  font-size: bold;
  font-size: 20px;
  border: #222222 2px solid
}

.sel-country:hover {
  color: #222222;
  font-size: bold;
  font-size: 20px;
  border: #222222 2px solid
}

.loupe-link {
  color: #222222;
  font-size: 20px
}

.loupe-link:hover {
  color: #ff6600;
  font-size: 20px
}


.bg-lightgrey{
    background-color: #F9F9F9;
}
.text-raisin{
    color:#222!important;
}
.bg-orange{
    background-color: #ff6600;
}
