<section id="slider" class="slider-element full-screen">
	<div class="full-screen dark section nopadding nomargin noborder ohidden">
		<div id="myVideo" class="embed-responsive embed-responsive-16by9">
            <video poster="images/videos/explore.jpg" preload="auto" loop autoplay muted>
                <source src="{{ 'assets/video/back_video.mp4' }}" type='video/mp4' />
			</video>
		</div>
		<form class="content" action="">
			<div class="form-group row">
				<div class="col"></div>
				<div class="col text-center">
					<label class="lab-country" for="exampleSelect1">CHOISISSEZ VOTRE DESTINATION</label>
					<div class="row">
						<div class="col">
							<select class="form-control text-center sel-country" id="exampleSelect1">
								<option class="rb">FRANCE</option>
								<option class="rb">ITALIE</option>
								<option class="rb">ESPAGNE</option>
							</select>
						</div>
						<div class="col-2">
							<a class="loupe-link" href=""><i class="fa fa-search fa-2x"></i></a>
						</div>
					</div>
				</div>
				<div class="col"></div>
			</div>
		</form>
	</div>
</section>


